<html>
  <head>
    <title>EDUOK INYENE USEN DATA VISUALIZATION ASSIGNMENT </title>

  </head>
  <body>
      <h1 align="center">ANNUAL NUMBER OF CRUDE BIRTH RATE IN AFRICA</h1>

      <div class="cell">
        <p class="main-text" align="center">
          Group Bargraphs showing the annual number of crude birth rate in Africa from 2010-2020
          
        </p>
        <img src="static\data_2011.png" width="70%" >
        <img src="static\data_2012.png" width="70%" >
        <img src="static\data_2013.png" width="70%" >
        <img src="static\data_2014.png" width="70%" >
        <img src="static\data_2015.png" width="70%" >
        <img src="static\data_2016.png" width="70%" >
        <img src="static\data_2017.png" width="70%" >
        <img src="static\data_2018.png" width="70%" >
        <img src="static\data_2019.png" width="70%" >
        <img src="static\data_2020.png" width="70%" >
        
        

      </div>



  </body>
</html>
